body{
    background-color: #333;
    color: whitesmoke;
    font-family: "Edu VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
#header{
    background-color: beige;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 2px dotted black;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 10px blue;
}
#subHeading{
    background-color: aqua;
    color: black;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    border: 2px double whitesmoke;
    text-shadow: 2px 2px 4px orange, 9px 9px 30px darkred;
}
#content{
    background-color: #1E1E2F; /* deep space navy */
    color: #F8F8F2; /* contrast text */
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

.example {
    background-color: #777777;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#max-width-example {
    max-width: 600px;
}

#relative-example {
    position: relative; /* Needed for the positioned child */
    height: 200px;
}

.positioned {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#relative-positioned {
    position: relative;
    left: 30px;
    top: 20px;
}

#fixed-example {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    text-align: center;
}

#absolute-example {
    position: relative; /*  Make this a positioned ancestor */
    height: 200px;
}

#absolute-positioned {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#sticky-example {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
}

#z-index-example {
    position: relative; /* Needed for z-index to work */
    height: 200px;
}

.z-index-item {
    position: absolute;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    top: 0;
    left: 0;
}

#z-index-example div:nth-child(1) {
    left: 0px;
    top: 20px;
}

#z-index-example div:nth-child(2) {
    left: 30px;
    top: 40px;
}

#z-index-example div:nth-child(3) {
    left: 60px;
    top: 60px;
}
