

html{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
pre{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #333;
    color: whitesmoke;
    background-image:url(../../images/image.png) ;
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
}
#Header{
    text-align: center;
    background-color: beige;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

#content{
    background-color: pink;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    color: black;
}

#subHeading{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
}
p.selectorExample{
    text-align: center;
    color: red;
}

#border{
    border: 5px solid black;
    padding: 10px;
    width: 300px;
}
#border1{
    border: 5px solid black;
    width: 15rem;
    padding: 10px;
    border-style: dashed;
}
#border2{border: 5px solid black;
    width: 15rem;
    padding: 10px;
    border-style: dotted;
}
#border3{border: 5px solid black;
    width: 15rem;
    padding: 10px;
    border-style: double;
}
#border4{
    border: 5px solid red;
    width: 15rem;
    padding: 10px;
    border-style: ridge;
}
#border5{
    border: 5px solid red;
    width: 15rem;
    padding: 10px;
    border-style: inset;
}
#border6{
    border: 5px solid red;
    width: 15rem;
    padding: 10px;
    border-style: outset;
}
#border7{
    border: 5px solid red;
    width: 15rem;
    padding: 10px;
    border-style: dotted dashed solid double;
}
#border8{
    border: 5px solid red;
    width: 15rem;
    padding: 10px;
    border-style: groove;
    border-width: 5px 20px; /*5 px top and bottom, 20px left and right*/
}
#border9{
    border: 5px solid red;
    width: 15rem;
    padding: 10px;
    border-style: ridge;
    border-width: 25px 10px 4px 35px; /*25px top, 10px right, 4px bottom and 35px left*/
}
#bgColor{
    background-color: lightblue;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

#bgImage{
    border: 2px solid black;
    border-radius: 10px;
    background-image: url(../../images/image.png);
    background-position: right;
    color: black;
    margin: 10px;
    padding: 10px;
    background-repeat: repeat-x;
    background-attachment: scroll;
}


#bgAttachment{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-image: url(../../images/image.png);
    background-position: right top;
    background-attachment: scroll;
}

/* #margin{
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 100px;
} */
/* or */
.box{
    width: 200px;
    height: 100px;
    background-color: black;
    border: 2px solid white;
    color: white;
    text-align: center;
    line-height: 100px;
    /* margin: 5rem 3rem 1rem 2rem; */
    /* this center aligns the box in the middle */
    margin: 0 auto;
}

#padding{
    border: 2px solid black;
    width: 20rem;
    padding: 10px 50px 30px 60px;
    margin: 20px;
}
.in{
    background-color: cyan;
    padding: 10px 20px;
    width: 200px;
    /* this makes sure the padding does not add on to your width */
    box-sizing: border-box;
}
.out{
    background-color: black;
    padding: 20px;
    width: 200px;
}
#hw{
    background-color: rgba(30, 100, 250, 0.5);
    height: 200px;
    width: 300px;
}
hr{
    border: 2px solid black;
}
#hw2{
    background-color: rgba(30, 100, 250, 0.5);
    height: 100px;
    max-width: 500px;
}
#footer{
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    font-weight: 1000;
}
